<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi you, I'm me. Together, we're us :)</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet" type="text/css"></link>
    <link href="styles.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
</head>

<body class="bg-image">
    <div :class="{'become-dark': currentPage=='why'}"  id="app">
        <v-app>

            <v-toolbar dark fixed scroll-off-screen app :clipped-left="clipped" class="main-toolbar elevation-0">


                <v-btn @click="currentPage='me'" flat>Me</v-btn>

                <v-spacer></v-spacer>

                <v-btn @click="currentPage='written'"flat>Written Work</v-btn>
                <v-btn @click="currentPage='films'" flat>Films</v-btn>
                <v-btn @click="currentPage='tech'" flat>Tech Projects</v-btn>


                <!-- <v-btn icon>
                    <v-icon>remove</v-icon>
                </v-btn> -->

                <!-- <v-toolbar-title v-text="title"></v-toolbar-title>
                <v-btn icon>
                    <v-icon>menu</v-icon>
                </v-btn> -->
            </v-toolbar>

            <main>
                <v-content id="">

                    <div class=''>
                      <!-- <img src="pics/IMG_1844_rotated.png" style="visibility: hidden;" /> -->
                    </div>

                    <v-container class="main-text-container" fluid>


                        <div class="me-page" v-if="currentPage=='me'">
                            <div class="opener">Yesterday I couldn't stop crying because I got rejected.</div>

                            <!-- <page></page> -->
                            <v-layout row wrap align-center>

                                <span class="truth-body">For 20 minutes I sat there frozen, chin in my hands
                                  and a tight knot in my throat. I was staring at the blank wall inches from my face, stuck,
                                   unable to shift my gaze even a few degrees to either direction. Finally, I lifted myself
                                   and did what needed to be done. For
                                    me at least, 20 minutes to get over a rejection that big is a new record,
                                  and I'm proud of myself for it.
                                </span>

                            </v-layout>
                        </div>



                        <div class="why-page" v-if="currentPage=='why'">

                          <div class="opener">I just want to be honest.</div>

                            <!-- <page></page> -->
                            <v-layout row wrap align-center justify-center>

                                <v-flex class="why-body" xs12 md6>
                                  <br>


                                  <p>This page is about being vulnerable. Every time you visit this website, you'll see something new about me on the front page.</p>

                                  <!-- I want to be honest to every stranger and every friend, to listen to them,
                                                                to trust them - even with my hopes and insecurities. -->
                                  <p>
                                      When I was young, I wrote and read NOVELS, over the course of months. Now, I struggle to write or read a single page because I get bored as an intense urge to do something else wells up from within. I constantly crave bits and pieces of something new,
                                      like I'm chasing little sparkles as they dissipate behind me into thin air.
                                  </p>

                                  <p>
                                      This terrifies me because I'm mentally sick, and I don't know if I'll ever be well again. I was always taught as a child that I would mature with time and my values would change, but this is not the type of maturation I could have ever possibly imagined.
                                      I think technology itself is beginning to warp the way our brains function and is making our attention spans shorter, increasing anxiety, increasing how much we care of other's opinions in a shallow way, and in general encouraging an overly selfish
                                      view of the world. We're taught from day one to use technology to our own economic and personal benefit, and this warps the general advancement of technology in a selfish and manipulative way.
                                  </p>

                                  <p>
                                      For instance, why does Youtube at the end of a video AUTOMATICALLY begin a new one without asking? Why does Facebook prioritize posts with flashy images and video as apposed to personal text posts from friends? The answer is simple: platforms are economically
                                      incentivized to be designed addictively and manipulatively, and consumers reward these platforms with dollar bills. There's no real push to make change for the better because frankly, most people let themselves waste away their own lives because
                                      it's comfortable.
                                  </p>

                                  <p>
                                      There is a lurking monster beneath the technological revolution driven by greed and profit, and my brain has rewired itself to make reading, writing, and personal interactions brief and shallow.
                                      I find myself in a world where it's hard to confide with honesty in anyone but my closest friends and family.
                                  </p>

                                  <p>
                                      I think now more than ever, honesty is important. We need to be honest with ourselves and with others about how we're feeling, our insecurities, our hopes. For me, this website is about valuing honesty over ALL else. It's about welcoming discomfort. It's
                                      about sharing ourselves with others not for Likes but because it's the first step to fixing ourselves. It's not about pumping me up, making me seem special, valuable, or employable. I'm sick of trying to pump myself up, and I think the constant pressure
                                      society puts on me to do so is terrible for my own mental health.
                                  </p>

                              </v-flex>
                            </v-layout>
                        </div>

                        <!-- Page where my written works are -->
                        <div class="written-page" v-if="currentPage=='written'">
                            <v-flex xs12>
                                <v-container grid-list-lg fluid>
                                    <v-layout row wrap>

                                        <!-- Block for a single writing, with title, body, and a link to the Medium post -->
                                        <v-flex v-for="(writing, index) in writings" :key=index class="story-card-flex" xs12 sm6 md4>
                                            <a :href="writing.link" target="_blank">
                                                <v-card color="darken-2" class="white--text story-card">
                                                    <v-card-title class="writing-title" primary-title>
                                                        <div xs12 class="headline ">{{writing.title}}</div>
                                                        <div xs12>{{writing.body}}</div>
                                                    </v-card-title>
                                                    <v-card-actions class="story-card-actions">
                                                        <!-- <a :href="writing.link" target="_blank"> -->
                                                            <!-- Two buttons, the first one to fill out the vertical height of the Card, and
                                                            the other to be visible AND float to the bottom with absolute positioning
                                                            (absolute positioning means it won't take up space hence we need the invisible button) -->
                                                            <v-btn style="visibility: hidden;" flat dark>Read now</v-btn>
                                                            <v-btn style="position: absolute; bottom: 8px;" flat dark>Read now</v-btn>
                                                        <!-- </a> -->
                                                    </v-card-actions>
                                                </v-card>
                                            </a>
                                        </v-flex>

                                    </v-layout>
                                </v-container>
                            </v-flex>
                        </div> <!-- End of written-page div -->



                    </v-container>
                </v-content>
            </main>

            <!-- <v-footer :fixed="fixed" app>
                <span>&copy; 2017</span>
            </v-footer> -->


          <v-footer style="text-align: center" class="pa-3 bottom-toolbar" fixed height=70>
              <v-btn @click="currentPage='why'" class="why-button" flat>About this webpage</v-btn>
          </v-footer>

        </v-app>
    </div>



    <!--- ****************** SCRIPTS ******************** -->

    <script type="text/x-template" id="page">
        <v-layout column align-center>
            <div>
                <img src="./v.png" alt="Vuetify.js" class="mb-5" height="100px" />
            </div>
            <blockquote>
                &#8220;First, solve the problem. Then, write the code.&#8221;
                <footer>
                    <small>
            <em>&mdash;John Johnson</em>
          </small>
                </footer>
            </blockquote>
        </v-layout>
    </script>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

    <script src="writings.js"></script>
    <script src="index.js"></script>
</body>

</html>
