/** CSS Styles */

#getting-started .intro {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

#getting-started .card {
  border-radius: 0;
  margin-bottom: 5rem;
}

#getting-started a {
  color: inherit;
}

#getting-started .list {
  margin: 0 2rem !important;
}

#getting-started main {
  text-align: center;
}

/**  allows background image on body to show **/
.application, .application .v-toolbar {
  background: #ffffff00 !important;
}

.main-toolbar div {
  opacity: 0.85;
  font-weight: 400;
}



.why-page, .me-page
 {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 10px;
}

.opener {
  font-weight: 100;
  font-size: 40px;
  opacity: 0.92;
}

.bg-image {
      /* The image used */
    background-image: url("pics/IMG_1844@0,5x.jpg");
    image-orientation: from-image;
    background-position: 0px calc(40% - 150px) !important;
    background-color: black;

    /* Full height */
    width: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.truth-body {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  font-weight: 300;
  opacity: 0.8;
}

.truth-bodies {
    padding-top: 50px;
}

.why-body {
  padding-top: 20px;
  font-weight: 300;
  opacity: 0.8;
  font-size: 20px;
  text-align: left;
}

.why-body p {
    margin-bottom: 35px;
}

.why-button {
  text-align: center;
  margin-left: auto;
  color: #ffffff80 !important;
  font-weight: 300;
  outline: solid #ffffff40 1px;
}

.bottom-toolbar {
  background-color: #ffffff00 !important;
}

.story-card {
  background-color: #ffffff00 !important;
  outline: 1px solid #ffffff5c;
  height: 100%;
}

.story-card .headline {
  font-weight: 300;
}

.story-card button {
  font-weight: 400 !important;
  margin-left: -7px !important;
}

.story-card, .story-card button {
  color: rgba(255, 255, 255, 0.87) !important;
}

/* .story-card, .story-card-flex {
  height: 100;
} */

.story-card-actions {
  /* position: absolute;
  bottom: 0; */
}

A {text-decoration: none;}

.story-card .writing-title {
    padding-bottom: 5px;
    display: block;
}


.become-dark {
    background-color: rgba(0, 0, 0, 0.45);
    transition: background-color 1s;
}
